header {
    background-color: #627896;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

nav {
    overflow: hidden;
    background-color: #c9301e;
    border-bottom: solid 15px #1e67c9;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1e67c9;
    color: #3FF3FC;
}

/*Experience*/

table.experiencetable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

table.experiencetable td,
table.experiencetable th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
}

table.experiencetable thead {
    background-color: #1e67c9;
}

div#container-experience {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    bottom: 100px;
}

div.card-experience {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;

}

div.card-title-experience {
    text-align: center;
    font-size: 2em;
    color: #1e67c9;
    font-weight: 400;
}

div.card-content-experience {
    padding: 2px 16px;
}


div.card-content-experience:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #627896;
    position: fixed;
    bottom: 0;
    width: 92%;
}

footer p {
    color: #3FF3FC;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: #3FF3FC;
}

footer a:hover {
    text-decoration: underline;
}

/* hobbies table */
p.left {
    color: white;
    font-weight: 400;
    float: left;
    padding-right: 10px;
    font-style: italic;
}

table.hobbietable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

table.hobbietable td,
table.hobbietable th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
}

table.hobbietable thead {
    background-color: #1e67c9;
}

div#container-hobbies {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    bottom: 100px;

}

div.card-hobbies {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;

}

div.card-title-hobbies {
    text-align: center;
    font-size: 2em;
    color: #1e67c9;
    font-weight: 400;
}

div.card-content-hobbies {
    padding: 2px 16px;
}

div.card-content-hobbies:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}