h1 {
    text-align: center;
}

div.first {
    float: left;
    margin-top: 10px;
    margin-left: 150px;
}

div.second {
    float: left;
    margin-left: 320px;
    margin-top: 10px;


}

div.third {
    float: right;
    margin-top: 10px;
    margin-right: 150px;

}