h1 {
    text-align: center;
}

.image-gallery {
    display: grid;
    margin-top: 10%;
    grid-template-columns: 1fr 1fr 1fr;

}

.image-gallery-item {
    border: 15px solid rgb(185, 63, 8);
    padding: 5px;

}

.image-gallery-item img {
    width: 400px;
    height: 350px;
}

.image-gallery-item h3 {
    text-align: center;
    color: rgb(185, 63, 8);
}

.image-gallery-item figure {
    text-align: center;
}

body {
    font-weight: 400;
    font-family: 'Oswald', 'Verdana', 'Arial', 'sans-serif';
    background-color: rgb(247, 112, 24, 0.20);

}

figcaption {
    font-style: italic;
    font-size: .75em;
    color: rgb(185, 63, 8);
}

.landing-wrapper {
    display: grid;
    justify-content: end;
    margin-top: 5%;
}